<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>

    <!-- your factory files -->
    <script src="js/factory.database.js"></script>
    <script src="js/factory.movies.js"></script>

    <!-- your controller files -->
    <script src="js/controller.data.js"></script>

</head>

<body ng-app="starter">

    <ion-pane ng-controller="dataController as dataCtrl">
        <ion-header-bar class="bar-stable">
            <h1 class="title">Ionic Sqlite Example</h1>
        </ion-header-bar>

        <ion-content>
            <div class="list">
                <label class="item item-input">
                  <span class="input-label">Movie Name</span>
                  <input ng-model="dataCtrl.movieName" type="text">
                </label>
            </div>
            <div class="padding">
                <button class="button button-block button-positive activated" ng-click="dataCtrl.saveMovieToDatabase(dataCtrl.movieName)">Save</button>
            </div>
            <div class="card">
                <div class="item item-divider">
                    To Watch!
                </div>
                <ion-list>
                    <ion-checkbox ng-repeat="movie in dataCtrl.toWatchMovies" ng-model="dataCtrl.selectedMovies[movie.rowid]">{{movie.name}}</ion-checkbox>
                </ion-list>
                <div class="padding">
                    <button class="button button-block button-small button-positive activated" ng-click="dataCtrl.markMoviesAsWatched(dataCtrl.selectedMovies)">Mark Watched</button>
                </div>
            </div>
            <div class="card">
                <div class="item item-divider">
                    Watched!
                </div>
                <ul class="list">
                    <li ng-repeat="movie in dataCtrl.watchedMovies" class="item">
                        {{movie.name}}
                    </li>
                </ul>
            </div>
        </ion-content>
    </ion-pane>
</body>

</html>